* {
    box-sizing: border-box;
}

body {
    background: #111;
    font: 85%/1.4em arial;
}

#root {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#ui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    color: #fff;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}